html, body {
    width:100%;
    margin:0;
    height:100%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}


#menu, #carts {
  background: url(pizza3.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
  margin: 0;

}


.home {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
}

.contain {
  width: 50%;
  margin: 0 auto;
  height: 100%;
  font-family: 'Oleo Script', cursive;
}

.home h1, h5, p, h4, span, h3 {
    color: black;
}

.card {
    width: 30%;
    margin: 3px;
    float: left;
}

.card img {
    width: 100px;
    height: 100px;
}

/* .home img {
    width: 100%;
    height: 400px;
} */

.food {
    display: none;
}

.food-type {
    float: left;
}

.price {
    float: right;
    width: 35%;
}

.right-side {
    float: right;
    width: 50%;
    background-color: transparent;
    font-family: 'Satisfy', cursive;
    font-size: 1.2em;
}

.left-side {
    float: left;
    width: 20%;
    margin-right: 5%;
    background-color: transparent;
    font-family: 'Caveat', cursive;
    font-size: large;
}

ul, li {
    background-color: transparent;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



/*
style login/register page
*/

.login-form {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#facebook-icon {
    width: 30px;
    height: 25px;
}

.login-form a {
    color: #00ff00;
    font-weight: bold;
}

/*
style carts page
*/
