{% extends "pizza/layout.html" %}

{% block title %}Pizza{% endblock %}

{% block body %}
    <h1>Pizza</h1>
    <div id="menu">
        {% for item in items %}
        <ul>
            <h1>{{item.0}}</h1>
            {% for i in item.1 %}
                <li>
                    {{i.0}}
                    <input class="price" type="checkbox" name="checkbox" value="{{i.1}}">{{i.1}}
                    <input class="price" type="checkbox" name="checkbox" value="{{i.2}}">{{i.2}}
                </li>
            {% endfor %}
        </ul>

        {% endfor %}
    </div>
{% endblock %}
