{% extends "pizza/layout.html" %}

{% block title %}Pizza{% endblock %}

{% block body %}
    <h1>Pizza</h1>
    <div id="menu">
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'signin' %}">Login</a>
        <a href="{% url 'signout' %}">Logout</a>
        <a href="{% url 'carts' %}">Carts</a>

        <div class="row">

            {% for item in items %}

            <ul class="col-sm list-group list-group-flush">
                <h3>{{item.0}}</h3>
                {% for i in item.1 %}
                    <!-- <p>{{i.3}}</p> -->
                    <li class="list-group-item">
                        <input class="food" type="checkbox" name="food" value="{{i.0}}">
                        <span>{{i.0}}</span>

                        <!-- <form class="" action="{% url 'addFood' %}" method="post"> -->
                        <form id="{{i.3}}" class="add-to-carts" >

                        {% csrf_token %}


                            <input class="food" type="text" name="food" value="{{i.0}}">


                        {% if i.0 == '1 topping' %}

                            <select  class="topping form-control" name="topping1" required>
                            <option value="Selected" disabled selected>Select</option>
                                {% for i in toppings %}
                                    <option value="{{i.item}}">{{ i.item }}</option>
                                {% endfor %}
                            </select>

                        {% elif i.0 == '2 toppings' %}

                            <select class="topping form-control" id="tw" multiple name="topping1" required>
                                <option value="Selected" disabled selected>Select</option>
                                {% for i in toppings %}
                                    <option value="{{i.item}}">{{ i.item }}</option>
                                {% endfor %}
                            </select>

                        {% elif i.0 == '3 toppings' %}

                            <select class="topping form-control" id="th" multiple name="topping1" required>
                            <option value="Selected" disabled selected>Select</option>
                                {% for i in toppings %}
                                    <option value="{{i.item}}">{{ i.item }}</option>
                                {% endfor %}
                            </select>

                        {% elif i.0 == '1 item' %}

                            <select class="topping form-control" name="topping1" required>
                            <option value="Selected" disabled selected>Select</option>
                                {% for i in toppings %}
                                    <option value="{{i.item}}">{{ i.item }}</option>
                                {% endfor %}
                            </select>

                        {% elif i.0 == '2 items' %}

                            <select class="topping form-control" id="two-item" multiple name="topping1" required>
                            <option value="Selected" disabled selected>Select</option>
                                {% for i in toppings %}
                                    <option value="{{i.item}}">{{ i.item }}</option>
                                {% endfor %}
                            </select>

                        {% elif i.0 == '3 items' %}

                            <select class="topping form-control" id="three-item" multiple name="topping1" required>
                            <option value="Selected" disabled selected>Select</option>
                                {% for i in toppings %}
                                    <option value="{{i.item}}">{{ i.item }}</option>
                                {% endfor %}
                            </select>

                        {% endif %}
                        <div class="btn-group btn-group-sm">
                            <input class="small btn btn-outline-info" type="submit" name="add1" value="{{i.1}}">
                            <input class="large btn btn-outline-info" type="submit" name="add2" value="{{i.2}}">
                        </div>
                        </form>

                    </li>
                {% endfor %}
            </ul>
            {% endfor %}
            </div>

            <!-- <select  name="topping">
                <option value="Select">Select</option>
                {% for i in toppings %}
                    <option value="{{i.item}}">{{ i.item }}</option>
                {% endfor %}
            </select> -->
            <input id='carts' type="submit" value="Order"/>
        <!-- </form> -->

        <div id="selected-toopings">

        </div>

    </div>
{% endblock %}
