{% extends "pizza/layout.html" %}

{% block title %}Pizza{% endblock %}

{% block body %}
    <h1>Pizza</h1>
    <div id="menu">
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'signin' %}">Login</a>
        <a href="{% url 'signout' %}">Logout</a>
        <a href="{% url 'carts' %}">Carts</a>

        <!-- <form class="" action="{% url 'foodOrder' %}" method="post"> -->

            {% for item in items %}

            <ul>
                <h1>{{item.0}}</h1>
                {% for i in item.1 %}
                    <!-- <p>{{i.3}}</p> -->
                    <li>
                        <input class="food" type="checkbox" name="food" value="{{i.0}}">
                        <span>{{i.0}}</span>

                        <!-- <form class="" action="{% url 'addFood' %}" method="post"> -->
                        <form id="{{i.3}}" class="add-to-carts" >

                            {% csrf_token %}
                            <input class="food" type="text" name="food" value="{{i.0}}">


                        {% if i.0 == '1 topping' %}

                            <select  class="topping" name="topping1" required>
                            <option value="Selected" disabled selected>Select</option>
                                {% for i in toppings %}
                                    <option value="{{i.item}}">{{ i.item }}</option>
                                {% endfor %}
                            </select>

                        {% elif i.0 == '2 toppings' %}

                            <select class="topping" id="tw" multiple name="topping1" required>
                                <option value="Selected" disabled selected>Select</option>
                                {% for i in toppings %}
                                    <option value="{{i.item}}">{{ i.item }}</option>
                                {% endfor %}
                            </select>

                        {% elif i.0 == '3 toppings' %}

                            <select class="topping" id="th" multiple name="topping1" required>
                            <option value="Selected" disabled selected>Select</option>
                                {% for i in toppings %}
                                    <option value="{{i.item}}">{{ i.item }}</option>
                                {% endfor %}
                            </select>

                        {% elif i.0 == '1 item' %}

                            <select class="topping" name="topping1" required>
                            <option value="Selected" disabled selected>Select</option>
                                {% for i in toppings %}
                                    <option value="{{i.item}}">{{ i.item }}</option>
                                {% endfor %}
                            </select>

                        {% elif i.0 == '2 items' %}

                            <select class="topping" id="two-item" multiple name="topping1" required>
                            <option value="Selected" disabled selected>Select</option>
                                {% for i in toppings %}
                                    <option value="{{i.item}}">{{ i.item }}</option>
                                {% endfor %}
                            </select>

                        {% elif i.0 == '3 items' %}

                            <select class="topping" id="three-item" multiple name="topping1" required>
                            <option value="Selected" disabled selected>Select</option>
                                {% for i in toppings %}
                                    <option value="{{i.item}}">{{ i.item }}</option>
                                {% endfor %}
                            </select>

                        {% endif %}
                        <input class="small" type="submit" name="add1" value="{{i.1}}">
                        <input class="large" type="submit" name="add2" value="{{i.2}}">
                        </form>

                    </li>
                {% endfor %}
            </ul>
            {% endfor %}

            <!-- <select  name="topping">
                <option value="Select">Select</option>
                {% for i in toppings %}
                    <option value="{{i.item}}">{{ i.item }}</option>
                {% endfor %}
            </select> -->
            <input id='carts' type="submit" value="Order"/>
        <!-- </form> -->

        <div id="selected-toopings">

        </div>

    </div>
{% endblock %}
